# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.git
bin/*
*.bak

tmp
*.tmp
vendor/*/
.realize
dist/*

notes-*
.vscode
.idea
tmp/*
.realize.yaml
.air.conf*
_tools/
private.pem
plugins/
dump.tar.gz
node_modules
dist
*.env
.DS_Store
.mypy_cache