grpcio-tools==1.43.0
grpcio==1.43.0
grpcio-status==1.43.0
googleapis-common-protos==1.54.0
protobuf==3.14.0
nltk==3.4.5
gensim==3.8.1
spacy==3.2.2
spacy-lookups-data==0.2.0
transformers==4.16.2
torch==1.10.2
python-dotenv==0.19.2
pytest==7.0.1
networkx==2.7.1
