asyncio==3.4.3
gensim==3.8.3
googleapis-common-protos==1.60.0
grpc-interceptor==0.15.3
grpcio==1.58.0
huggingface-hub==0.17.1
matplotlib==3.7.3
networkx==2.7.1
nltk==3.8.1
numpy==1.25.2
pandas==2.1.0
protobuf==4.24.3
pytextrank==3.2.5
python-dotenv==1.0.0
safetensors==0.3.3.post1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.6.1
srsly==2.4.7
tokenizers==0.13.3
transformers==4.33.1
uvloop==0.17.0
